<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WorkBench</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p style="color: #fff; font-size: 2.5rem;" class="navbar-brand">WorkBench</p>
      </div>
        <ul class="nav navbar-nav navbar-right headings">
          <li id="home"><a style="color: #fff;" href="/dashboard">HOME</a></li>
          <li id="about"><a style="color: #fff;" href="/about">ABOUT US</a></li>
          <li id="contact"><a style="color: #fff;" href="/contact">CONTACT US</a></li>
          <li><a style="color: #fff;" href="/compose">COMPOSE</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
